.burger-container {
  margin: 0;
  padding: 0;
  //   position: fixed;
  .burger-container:hover {
    cursor: pointer;
  }
  .hamburger-menu {
    margin: 40px;
    z-index: 1;

    span {
      width: 30px;
      height: 5px;
      display: block;
      margin-bottom: 5px;
    }
    span:hover {
      cursor: pointer;
    }
  }

  .overlay {
    margin-top: -32px !important;
    height: 105%;
    margin: 0;
    padding: 0;
    width: 0;
    position: fixed;
    z-index: 999999 !important;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0;
    background-color: #313843;
    background-color: #222;
    background-color: #1e202c;

    // box-shadow: 1px 1px 5px 5px black;
    // background-image: linear-gradient(
    //   transparent 2rem,
    //   #0093e9 0%,
    //   #80d0c7 100%
    // );

    // overflow-x: hidden;
    transition: 1s;
    .close-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .closebtn {
        padding-top: 50px;
        padding-right: 25px;

        font-size: 30px;
        color: white;
        height: 50px;
      }
    }
    .overlay-content-map {
      margin-top: 10%;
      margin-left: 5%;
      margin-right: 5%;
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;

      .eachNav {
        display: flex;
        align-items: center !important;
        width: 100%;
        padding-left: 30px;
        text-align: left;
      }
    }

    a {
      padding: 16px 0 16px 8px;
      text-decoration: none;
      font-size: 20px;
      color: black;
      color: #ffffff;
      display: block;
      transition: 0.3s;
      margin-top: 0px;
      // text-align: center;

      //   :hover, :focus {
      //       color: white;

      //     }
    }
    a:hover {
      cursor: pointer;
    }
  }
}
