.about-me-container {
  padding-bottom: 3%;
  margin: 24px 48px;
  .section-header {
    margin-top: 0;
    margin-bottom: 2%;
    font-family: Bookman;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      margin-top: 1%;
      background-image: linear-gradient(
        transparent 2rem,
        #0093e9 0%,
        #80d0c7 100%
      );

      @media (max-width: 800px) {
        margin-top: 1%;
        margin-bottom: 1%;
        background-image: linear-gradient(
          transparent 2rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;
        margin-top: 7%;
        margin-bottom: 3%;
        background-image: linear-gradient(
          transparent 1.7rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
    }
  }
  .about-me-content {
    display: flex;
    justify-content: space-around;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .about-me-text {
      margin: 30px 0 0 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 1.3rem;
      font-family: "Oswald", sans-serif;
      @media (max-width: 800px) {
        width: 80%;
        font-size: 1.2rem;
      }
      @media (max-width: 500px) {
        width: 100%;
        font-size: 1rem;
      }
      li {
        margin-top: 4.5%;
      }
      .content {
        text-align: left;
        padding: 3% 0;
      }
    }
    .about-me-img-container {
      margin-right: 6%;
      margin-left: 0;
      @media (max-width: 800px) {
        margin-top: 4%;
        margin-right: 0%;
      }
      @media (max-width: 500px) {
        margin-top: 6%;
        margin-right: 0%;
      }
      .about-me-img {
        height: 320px;
        border-radius: 50%;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border: 1px solid black;
        @media (max-width: 800px) {
          height: 250px;
          width: 230px;
        }
        @media (max-width: 500px) {
          height: 215px;
          width: 215px;
        }
      }
    }
  }
}
