.portfolio-container {
  padding-bottom: 3%;

  border-top: 1px solid lightgray;
  margin: 24px 48px;

  @media (max-width: 500px) {
    // border-top: 3px solid black;
    margin: 0;
  }

  .section-header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Alike Angular", serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .portfolio-header {
      background-image: linear-gradient(
        transparent 2rem,
        #0093e9 0%,
        #80d0c7 100%
      );

      @media (max-width: 800px) {
        margin-top: 7%;
        margin-bottom: 5%;
        background-image: linear-gradient(
          transparent 2rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;

        background-image: linear-gradient(
          transparent 1.7rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
    }
  }
  .project-container {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
      }

      #row2 {
        @media (max-width: 500px) {
          width: 100%;
          margin-top: 5%;
          margin-bottom: 10%;
          height: 440px;
          font-size: 0.9rem;
        }
      }
      .project {
        border: 2px solid black;
        box-shadow: 0px 0px 4px black;
        margin-top: 4%;
        background-color: floralwhite;
        width: 430px;
        height: 470px;
        &:hover {
          box-shadow: 0px 0px 8px black;
        }

        @media (max-width: 800px) {
          width: 100%;
          margin-top: 5%;
          margin-bottom: 10%;
          height: 500px;
          font-size: 1rem;
        }
        @media (max-width: 500px) {
          width: 95% !important;
          margin-top: 5%;
          margin-bottom: 10%;
          height: 420px !important;
          font-size: 0.9rem;
          margin-left: 2.5%;
          margin-right: 2.5%;
        }

        img {
          height: 52.5%;
          width: 100%;
          border: 1px solid black;

          @media (max-width: 500px) {
            width: 100%;
            height: 200px;
          }
        }
        .linkz {
          display: flex;
          justify-content: space-between;
          .project-btn-link {
            color: black;
            padding-left: 3%;
            padding-top: 2%;

            display: flex;
            width: 20%;
            flex: 1;

            .icon {
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
        .project-name {
          margin: 0;
          font-size: 1.4rem;
          margin-top: 4%;
          text-decoration: underline;
          font-family: "Alike Angular", serif;
          @media (max-width: 500px) {
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            width: 80%;
          }
          .project-link {
            color: black;
          }
        }
        .tech-stack {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-family: "Roboto", sans-serif;
          padding-left: 10%;

          .tech-used {
            border: 1px solid black;
            padding-left: 3%;
            padding-right: 3%;
            margin-left: 1.5%;
            margin-right: 1.5%;
            height: 30px;
            display: flex;
          }
        }
        .project-description {
          font-family: "Roboto", sans-serif;

          text-align: left;
          width: 80%;
          padding-left: 10%;
          margin: 0;
          margin-top: 6%;
          @media (max-width: 930px) {
            font-size: 0.9rem;
          }
          @media (max-width: 800px) {
            font-size: 1rem;
          }
          @media (max-width: 550px) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
