.portfolio-container {
  padding-bottom: 3%;

  border-top: 1px solid lightgray;
  margin: 24px 48px;

  @media (max-width: 500px) {
    margin: 0;
  }

  .section-header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Alike Angular", serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .portfolio-header {
      background-image: linear-gradient(
        transparent 2rem,
        #0093e9 0%,
        #80d0c7 100%
      );

      @media (max-width: 800px) {
        margin-top: 7%;
        margin-bottom: 5%;
        background-image: linear-gradient(
          transparent 2rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;
        background-image: linear-gradient(
          transparent 1.7rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
    }
  }
  .portfolio-wrapper {
    margin-top: 50px;
    // margin-left: 2.5%;
    // margin-right: 2.5%;
    // border: 1px solid red;
    @media (max-width: 500px) {
      // margin-left: 10%;
      // margin-right: 10%;
    }
    .secondary-header {
      margin-top: 50px;

      display: flex;
      justify-content: center;
      font-family: "Alike Angular", serif;
      font-size: 1.5rem;
    }
  }
  .project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 125px;
    // margin-bottom: 125px;
    margin-bottom: 200px;

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    // @media (max-width: 500px) {
    //   margin-bottom: 200px;
    // }
    .left-side {
      height: 325px;

      margin-right: 3%;
      padding-right: 3%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      justify-content: flex-start;
      @media (max-width: 1000px) {
        width: 100%;
        align-items: center;
      }
      .project-number {
        font-weight: normal;
        font-family: "Roboto", sans-serif;
        margin: 0;
        font-size: 1.3rem;
        @media (max-width: 1000px) {
          margin-top: 50px;
        }
      }
      .project-name {
        color: black;
        display: flex;

        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        margin-top: 30px;
        text-align: left;
        font-family: "Alike Angular", serif;

        @media (max-width: 1000px) {
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        @media (max-width: 500px) {
          margin-left: 10%;
          margin-right: 10%;
          width: 80%;
        }
      }
      .project-description {
        text-align: left;
        margin-top: 30px;

        font-size: 1.3rem;
        font-family: "Roboto", sans-serif;
        @media (max-width: 1000px) {
          text-align: center;
          justify-content: center;
          align-items: center;
        }
        @media (max-width: 800px) {
          width: 80%;
          font-size: 1.15rem;
          margin-right: 0;
        }
        @media (max-width: 500px) {
          margin-left: 10%;
          margin-right: 10%;
          width: 80%;
          font-size: 1rem;
        }

        .company-link {
          color: black;
        }
      }
      .details-btn {
        border: 1px solid black;
        background: none;
        background: black;
        padding: 10px;
        border-radius: 5px;
        margin-top: 30px;

        .details-link {
          font-family: "Roboto", sans-serif;
          text-decoration: none;
          font-size: 1.2rem;
          color: white;
          font-size: 1.3rem;
        }
      }
    }

    .right-side {
      width: 50%;
      @media (max-width: 1000px) {
        width: 100%;
        align-items: center;
      }
      #project-img-wrapper {
        width: 100%;
        #project-img {
          height: 325px;
          width: 100%;
          box-shadow: 1px 1px 1px gray;
        }
        .img-caption {
          font-family: "Roboto", sans-serif;
          font-size: 0.8rem;
        }
      }
    }
  }
}
