.hire-me-container {
  padding-bottom: 8%;
  margin: 24px 48px;
  border-top: 1px solid lightgray;
  @media (max-width: 500px) {
    border-top: 3px solid black;
  }
  .section-header {
    margin-bottom: 2%;
    font-family: Bookman;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .looking-to-hire {
      margin-top: 3%;
      background-image: linear-gradient(
        transparent 2rem,
        #0093e9 0%,
        #80d0c7 100%
      );
      @media (max-width: 800px) {
        display: none;
      }
      @media (max-width: 500px) {
        margin-top: 7%;
        background-image: linear-gradient(
          transparent 1.5rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
    }
    .contact-me {
      font-family: Bookman;
      display: none;
      @media (max-width: 800px) {
        display: flex;

        margin-top: 7%;
        margin-bottom: 1%;
        background-image: linear-gradient(
          transparent 2rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;
        display: flex;
        margin-top: 12%;
        margin-bottom: 1%;
        background-image: linear-gradient(
          transparent 1.7rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
    }
  }
  .hire-me-content {
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: space-around;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
    .hire-me-text {
      margin: 30px 0 0 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 1.3rem;
      @media (max-width: 800px) {
        margin: 30px 0 0 0;
        width: 100%;
        font-size: 1.15rem;
        font-family: "Oswald", sans-serif;
      }
      @media (max-width: 500px) {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 1rem;
      }
      li {
        margin-top: 4.5%;
      }
      .content {
        text-align: left;
        padding: 3% 0;
      }
    }
    .hire-me-wrapper {
      margin-right: 6%;
      margin-left: 0;
      .hire-me-btn-container {
        height: 320px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 800px) {
          margin-top: 5%;
          margin-bottom: 5%;
          height: 100px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .get-in-touch-btn {
          margin-bottom: 70px;

          &:hover {
            cursor: pointer;
          }
          @media (max-width: 800px) {
            margin-bottom: 0px;
            padding: 20px;
            font-size: 1.1rem;
            width: 125px;
          }
        }
      }
    }
  }

  .popup-container {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: left;

    .contact-popup {
      border: 1px solid black;
      background-color: lightblue;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 400px;
      width: 70%;
      @media (max-width: 800px) {
        height: 350px;
        width: 100%;
      }
      @media (max-width: 700px) {
        height: 300px;
        width: 100%;
      }
      .close-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3%;
        padding-right: 3%;
        margin-left: 50px;
        @media (max-width: 500px) {
          font-size: 0.8rem;
        }
      }
      .contact-me-form {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contact-socials {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 90px;
        @media (max-width: 800px) {
          margin-top: 5%;
        }

        @media (max-width: 500px) {
          display: none;
        }
      }
      .contact-socials-mobile {
        display: none;
        @media (max-width: 500px) {
          display: flex;
          justify-content: space-evenly;
          margin-top: 30px;
        }
      }
    }
  }
}
