.skills-container {
  padding-bottom: 3%;
  margin: 24px 48px;
  border-top: 1px solid lightgray;
  // border: 1px solid red;

  @media (max-width: 500px) {
    // width: 80%;
    // margin-left: 10%;
    // margin-right: 10%;
    margin: 0;
  }

  .section-header {
    margin-top: 24px;
    margin-bottom: 2%;
    font-family: "Alike Angular", serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      background-image: linear-gradient(
        transparent 2rem,
        #0093e9 0%,
        #80d0c7 100%
      );

      @media (max-width: 800px) {
        margin-top: 7%;
        margin-bottom: 5%;
        background-image: linear-gradient(
          transparent 2rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;
        // color: white;
        background-image: linear-gradient(
          transparent 1.7rem,
          #0093e9 0%,
          #80d0c7 100%
        );
      }
    }
  }
  .blog-links {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;

    .blog-link {
      color: black;
      font-family: "Roboto", sans-serif;
      border: 1px solid black;
      padding: 1%;
      text-decoration: none;
      box-shadow: 1px 1px 1px gray;
      font-size: 1.4rem;
      @media (max-width: 800px) {
        font-size: 1.2rem;
        padding: 2%;
      }
    }
    #view-all-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 100px;

      #view-all-link {
        font-size: 1.4rem;

        color: black;
        font-family: "Roboto", sans-serif;
        @media (max-width: 800px) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
