// html {
//   font-size: 62.5%;
// }

.App {
  .intro {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    .intro-name {
      display: flex;
      justify-content: center;
      font-size: 3.5rem;
      font-family: Bookman;
      margin: 0;
    }
    .intro-title {
      //   margin-top: 1.5%;
      display: flex;
      justify-content: center;
      font-size: 1.75rem;
      font-family: Bookman;
    }
    .intro-tech-stack {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      margin: 0;
      font-family: Bookman;
    }
  }
  .main-content-container {
    text-align: center;
    background-color: #f0f8ff;
    margin-top: 7.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    height: 100vh;
    width: auto;
  }
}
