.container {
  margin: 0;
  //   background: #fffaf0;
  height: 100vh;
  .page-header {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 2.5rem;
    font-family: "Montserrat";
    color: indianred;
    margin: 0;
  }
  .about-me-p {
    font-family: "Roboto";
    font-size: 1.2rem;
    margin-left: 20%;
    margin-right: 20%;
  }
  .about-link {
    color: black;
  }
  .blog-links {
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Roboto";
    font-size: 1.2rem;
    .blog-link {
      display: flex;
      justify-content: center;
      color: black;
      padding: 2%;
      border: 1px solid black;
      text-decoration: none;
      box-shadow: 1px 1px 1px gray;
    }
    #view-all-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      #view-all-link {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 100px;
        color: black;
      }
    }
  }
}
